/* ======================================= BLOG SECTION CSS START ======================================= */

/* ========================= Banner section start ========================= */
.blog-banner {
    background: url(../img/blogimg/blog-banner-1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;

}

.blog-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.blog-banner h2 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 1;
}

.blog-banner ul li:first-child {
    margin-left: 0;
}

.blog-banner ul li {
    display: inline-block;
    margin-left: 10px;
    color: #ea512e;
    position: relative;
}

.blog-banner ul li a {
    display: block;
    color: #ffffff;
}

.blog-banner .blog::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 1px;
    height: 13px;
    background-color: #ea512e;
}

/* ========================= /Banner section end ========================= */

/* ======================================= /BLOG SECTION CSS END ======================================= */