/* ======================================= CONTACT SECTION CSS START ======================================= */

/* ========================= Banner section start ========================= */
.contact-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/aboutimg/page-banner-1.png) no-repeat fixed;
    background-size: 100%;
}

.contact-banner h2 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 1;
}

.contact-banner ul li:first-child {
    margin-left: 0;
}

.contact-banner ul li {
    display: inline-block;
    margin-left: 10px;
    color: #ea512e;
    position: relative;
}

.contact-banner ul li a {
    display: block;
    color: #ffffff;
}

.contact-banner .contact::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 1px;
    height: 13px;
    background-color: #ea512e;
}

/* ========================= /Banner section end ========================= */

/* Ready to Get Start section start */

/* /Ready to Get Start section end */

/* ======================================= /CONTACT SECTION CSS END ======================================= */